/.vitepress/cache
*.py
*.sh
guide/.DS_Store
*/.DS_Store
/node_modules
fluentaffiliate.WordPress.2025-06-23.xml
.DS_Store
/.idea

# Symlinks
fluent-affiliate

# DO NOT ignore the images folder!
# (No line like /guide/public/images)
